[submodule "deps/alembic"]
	path = deps/alembic
	url = https://github.com/alembic/alembic
[submodule "deps/bullet3"]
	path = deps/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "deps/eigen3"]
	path = deps/eigen3
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "deps/freeglut"]
	path = deps/freeglut
	url = https://github.com/dcnieho/FreeGLUT
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "deps/openexr"]
	path = deps/openexr
	url = https://github.com/openexr/openexr
	branch = release/2.3
