*.pyc

*.opensdf
*.sdf
*.user
*.exe
*.VC.opendb
*.psess
*.pdb
*.deps
*.VC.db
*.iobj
*.ipdb
*.pyd
*_wrap.cpp
*.htm

.vs/
__pycache__/
output/
x64/
Debug/
Release/external/
gmake/
lib/
external/
Backup/
data/intermediate/

DeepMimicCore/DeepMimicCore.py
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/CL.command.1.tlog
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/CL.read.1.tlog
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/CL.write.1.tlog
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/CustomBuild.command.1.tlog
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/CustomBuild.read.1.tlog
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/CustomBuild.write.1.tlog
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/DeepMimicCore.lastbuildstate
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/link.command.1.tlog
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/link.read.1.tlog
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/link.write.1.tlog
DeepMimicCore/Release_Swig/DeepMimicCore.tlog/unsuccessfulbuild
DeepMimicCore/Release_Swig/AgentRegistry.obj
DeepMimicCore/Release_Swig/Annealer.obj
DeepMimicCore/Release_Swig/ArgParser.obj
DeepMimicCore/Release_Swig/Camera.obj
DeepMimicCore/Release_Swig/Character.obj
DeepMimicCore/Release_Swig/CharController.obj
DeepMimicCore/Release_Swig/ContactManager.obj
DeepMimicCore/Release_Swig/Controller.obj
DeepMimicCore/Release_Swig/CtController.obj
DeepMimicCore/Release_Swig/CtCtrlUtil.obj
DeepMimicCore/Release_Swig/CtPDController.obj
DeepMimicCore/Release_Swig/CtrlBuilder.obj
DeepMimicCore/Release_Swig/CtVelController.obj
DeepMimicCore/Release_Swig/DeepMimicCharController.obj
DeepMimicCore/Release_Swig/DeepMimicCore.Build.CppClean.log
DeepMimicCore/Release_Swig/DeepMimicCore.log
DeepMimicCore/Release_Swig/DeepMimicCore.obj
DeepMimicCore/Release_Swig/DeepMimicCore.vcxproj.FileListAbsolute.txt
DeepMimicCore/Release_Swig/DeepMimicCore_wrap.obj
DeepMimicCore/Release_Swig/DrawCharacter.obj
DeepMimicCore/Release_Swig/DrawGround.obj
DeepMimicCore/Release_Swig/DrawKinTree.obj
DeepMimicCore/Release_Swig/DrawMesh.obj
DeepMimicCore/Release_Swig/DrawObj.obj
DeepMimicCore/Release_Swig/DrawPerturb.obj
DeepMimicCore/Release_Swig/DrawRLScene.obj
DeepMimicCore/Release_Swig/DrawScene.obj
DeepMimicCore/Release_Swig/DrawSceneImitate.obj
DeepMimicCore/Release_Swig/DrawSceneKinChar.obj
DeepMimicCore/Release_Swig/DrawSceneSimChar.obj
DeepMimicCore/Release_Swig/DrawSimCharacter.obj
DeepMimicCore/Release_Swig/DrawUtil.obj
DeepMimicCore/Release_Swig/DrawWorld.obj
DeepMimicCore/Release_Swig/ExpPDController.obj
DeepMimicCore/Release_Swig/FileUtil.obj
DeepMimicCore/Release_Swig/GraphUtil.obj
DeepMimicCore/Release_Swig/Ground.obj
DeepMimicCore/Release_Swig/GroundBuilder.obj
DeepMimicCore/Release_Swig/GroundPlane.obj
DeepMimicCore/Release_Swig/IBuffer.obj
DeepMimicCore/Release_Swig/ImpPDController.obj
DeepMimicCore/Release_Swig/IndexManager.obj
DeepMimicCore/Release_Swig/json_reader.obj
DeepMimicCore/Release_Swig/json_value.obj
DeepMimicCore/Release_Swig/json_writer.obj
DeepMimicCore/Release_Swig/JsonUtil.obj
DeepMimicCore/Release_Swig/KinCharacter.obj
DeepMimicCore/Release_Swig/KinTree.obj
DeepMimicCore/Release_Swig/lodepng.obj
DeepMimicCore/Release_Swig/lodepng_util.obj
DeepMimicCore/Release_Swig/Main.obj
DeepMimicCore/Release_Swig/MathUtil.obj
DeepMimicCore/Release_Swig/MatrixStack.obj
DeepMimicCore/Release_Swig/MeshUtil.obj
DeepMimicCore/Release_Swig/Motion.obj
DeepMimicCore/Release_Swig/MultiBody.obj
DeepMimicCore/Release_Swig/ObjTracer.obj
DeepMimicCore/Release_Swig/PDController.obj
DeepMimicCore/Release_Swig/Perturb.obj
DeepMimicCore/Release_Swig/PerturbManager.obj
DeepMimicCore/Release_Swig/Rand.obj
DeepMimicCore/Release_Swig/RBDModel.obj
DeepMimicCore/Release_Swig/RBDUtil.obj
DeepMimicCore/Release_Swig/RLScene.obj
DeepMimicCore/Release_Swig/RLSceneSimChar.obj
DeepMimicCore/Release_Swig/Scene.obj
DeepMimicCore/Release_Swig/SceneBuilder.obj
DeepMimicCore/Release_Swig/SceneImitate.obj
DeepMimicCore/Release_Swig/SceneKinChar.obj
DeepMimicCore/Release_Swig/SceneSimChar.obj
DeepMimicCore/Release_Swig/Shader.obj
DeepMimicCore/Release_Swig/ShadowMap.obj
DeepMimicCore/Release_Swig/Shape.obj
DeepMimicCore/Release_Swig/SimBodyJoint.obj
DeepMimicCore/Release_Swig/SimBodyLink.obj
DeepMimicCore/Release_Swig/SimBox.obj
DeepMimicCore/Release_Swig/SimCapsule.obj
DeepMimicCore/Release_Swig/SimCharacter.obj
DeepMimicCore/Release_Swig/SimCharBuilder.obj
DeepMimicCore/Release_Swig/SimCharGeneral.obj
DeepMimicCore/Release_Swig/SimCylinder.obj
DeepMimicCore/Release_Swig/SimJoint.obj
DeepMimicCore/Release_Swig/SimObj.obj
DeepMimicCore/Release_Swig/SimPlane.obj
DeepMimicCore/Release_Swig/SimRigidBody.obj
DeepMimicCore/Release_Swig/SimSphere.obj
DeepMimicCore/Release_Swig/SpAlg.obj
DeepMimicCore/Release_Swig/TextureDesc.obj
DeepMimicCore/Release_Swig/TextureUtil.obj
DeepMimicCore/Release_Swig/Timer.obj
DeepMimicCore/Release_Swig/Trajectory.obj
DeepMimicCore/Release_Swig/VertexBuffer.obj
DeepMimicCore/Release_Swig/World.obj
